<h2>Edit Comments</h2>
<%= form_for([@project, @comment] , :method =>"patch" ) do |f| %> 
<%#= form_for(:comment, url: "/blogs/#{@blog.id}/comments/#{@comment.id}/edit") do |f| %> 

  <div class="container">
<fieldset>


<div class="form-group">
    <%= f.label :commenter,:class=>"col-md-2 control-label" %>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <%= f.text_field :commenter,:class=>"form-control",:placeholder => " commenter" %>
    </div>
  </div>
</div>
 
 <br><br>
  
  
  <div class="form-group">
    <%= f.label :body,:class=>"col-md-2 control-label" %>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <%= f.text_area :body,:class=>"form-control",:placeholder => " body" %>
    </div>
  </div>
</div>
 
  <br><br><br>

    <div class="form-group">
    <%= f.label :image,:class=>"col-md-2 control-label" %>
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <%= f.file_field :image,:class=>"form-control",:placeholder =>" image",:class => "img-rounded" %>
    </div>
  </div>
</div>

  <br><br>

  <div class="form-group">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-6  inputGroupContainer">

         <%= f.submit :class=>"btn btn-success" %>
          </div>
        </div>
        <br></br>

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>
</fieldset>
</div>
