
<%= form_for(project,:class=>"form-horizontal") do |f| %>
  <div class="container">
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <%end%>
<div class="form-group has-success">
 
  <div class="col-mini-3">
      <%= f.label :name,:class=>"col-xs-2 control-label" %>
      <%= f.text_field :name,:class=>"form-control" %>
  </div>
  </div>
<br>
  
  <div class="form-group has-success">
    <%= f.label :description,:class=>"col-xs-2 control-label"%>
    <div class="col-mini-3">
    <%= f.text_field :description ,:class=>"form-control" %>
  </div>
  </div>
<div class="form-group has-success">

  <div class="col-mini-3">
    <%= f.label :document,:class=>"col-xs-2 control-label" %>
    <%= f.file_field :document ,:class=>"form-control"%>
  </div>
</div>
   <div class="form-group has-success">

  <div class="col-mini-3">
  
     <%= f.label :category ,:class=>"col-xs-2 control-label"%>
     <%= select_tag(:category_id, options_for_select(@categories), :prompt => 'Select category!',:class=>"form-control") %>
   </div>
   </div>

   <div class="form-group has-success">

  <div class="col-mini-3">
    <br>
     <%=f.label :status,:class=>"col-xs-2 control-label" %>
     <%= f.select "status", options_for_select([ "Aavlable", "Panding" , "Completed"]),:prompt => 'Select one!',:class=>"form-control"%>
</div>
</div>
      
  <div class="field">
  
   <%= f.label :Active ,:class=>"col-xs-2 control-label"%>
   <td>
   <%= f.label :active, "Yes", :value => "true" %> 
   <%= f.radio_button :active, true,:checked => true %> 
   <%= f.label :active, "No", :value => "false" %> 
   <%= f.radio_button :active, false, :checked => true %>
   </td>
   </div>
  <div class="form-group has-success">

  <div class="col-mini-3">
  
    <%= f.submit :class=>"btn btn-success"%>
    </div>
    </div>
    
  
  
<%end%>
