<% if params[:search].present? || params[:category].present? %>
<h3> <%= @projects.count%></h3> Results found.

<%else%>

<%end%>


<p id="notice"><%= notice %></p>

<h1> List Projects</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Document</th>
      <th>status</th>
      <th>Member</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= link_to Category.find(project.category_id).name, category_path(project.category_id) %></td>
        <td><% if project.document.present? %> 
        <a href="<%=project.document.url %>"><%= project.document.file.original_filename %></a>
       </td>
       <td><%= project.status%></td>
       <td><%= project.members.collect(&:user).compact.flatten.collect(&:email) %><td>
         <%end%>
       
        <td><%= link_to 'Show', project ,:class=>"btn btn-success"%></td>
        <td><%= link_to 'Edit', edit_project_path(project),:class=>"btn btn-success" %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-success" %></td>
      </tr>
  
     <% end %>
     
  </tbody>
</table>
