<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category_id %>
</p>
  <strong>document:</strong>
<% if @project.document.present? %>

<a href="<%=@project.document.url %>"><%=  @project.document.file.original_filename %></a>
  <% end %>
 </p>
 

      <h2>Comments</h2>
       <div class="comments-container">
        <%= render 'comments/comments'%>
         </div>
         
       <h2>Add a comment:</h2>
      
        <%= render 'comments/form' %>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
