<%= form_for(category,:class=>"form-horizontal") do |f| %>
<div class="container">

  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group has-success">
   <div class="col-xs-10">
    <%= f.label :name,:class=>"col-xs-2 control-label" %>
    <%= f.text_field :name,:class=>"form-control" %>
  </div>
 </div>
   <div class="col-xs-10">

  <div class="field">
    <%= f.label :desc ,:class=>"col-xs-2 control-label"%>
    <%= f.text_area :desc,:class=>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :class=>"btn btn-success" %>
  </div>
  </div>
<% end %>
