<!DOCTYPE html>
<html>
  <head>
    <title>Blog1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<nav class="navbar navbar-default">
   <div  class="container">
    <div class="navbar-header">
       
    </div>
    <ul class="nav navbar-nav navbar-left">
            <% if user_signed_in? %>
             
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
               <li><a href="/users/sign_in">Login</a></li>
               <li><a href="/users/sign_up">Sign Up</a></li>
            <% end%>
            
       <li><%= link_to 'admin','admin' %></li>
       <li><%= link_to 'projects','/projects' %></li> 

       <li><%= link_to 'Category','/categories' %></li> 
       
       
     </ul>

     <%=form_tag "/projects" ,:method=>"GET" do %> 
      
    <%= select_tag "category", options_from_collection_for_select(Category.all, 'id', 'name'),:prompt => 'Select category!'%>

      <%= text_field_tag :search, params[:search] , :placeholder => "Type here to search"%> 
      <%= submit_tag "Search", :class=>"btn btn-success"%> 
    <%end%>

     <% if user_signed_in?%>
     <%=link_to "New project",new_project_path,class: " navbar-text-navbar-link navbar-right"%>
     <%=link_to "New category",new_category_path,class: " navbar-text-navbar-link navbar-right"%>
     <%end%>
    </div>
 </nav>


       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
<script> 
  $( function() { 
    $("#start-date" ).datepicker({ dateFormat: 'dd-mm-yy' }); 
    $("#end-date" ).datepicker({ dateFormat: 'dd-mm-yy' }); 
  } ); 
  </script>
